#mobile-intro {
	background-color: #efefef;
	height: 100vh;
	width: 100vw;

	#payment-infos {
		margin: 40px 0 20px 0;

		.payment-info {
			font-size: 20px;
			text-align: center;
		}
	}
	
	#account-type-container {
		display: flex;
		flex-direction: column;
		height: calc(100% - 120px);
		justify-content: space-around;
		width: 100%;

		#account-type {
			background-color: white;
			display: flex;
			flex-direction: column;
			height: 50%;
			justify-content: space-around;
			margin: 0 auto; 
			width: 90%;

			#account-type-header {
				font-size: 30px;
				text-align: center;
			}

			#account-type-actions {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				.account-type-action {
					background-color: black;
					border-radius: 20px;
					color: white;
					padding: 10px;
					text-align: center;
					width: 30%;

					&:hover {
						cursor: pointer;
						opacity: 0.5;
					}
				}
			}
		}
	}
}
