#landing {
	background-image: linear-gradient(white, lightblue, white);
	height: 100%;

	#landing-header {
		display: flex;
		flex-direction: row;
		height: 80px;
		justify-content: space-between;
		margin: 0 auto;
		width: 80%;

		.row {
			#logo {
				height: 50px;
				margin: 0 10px;
				overflow: hidden;
				width: 50px;

				img {
					height: 100%;
					width: 100%;
				}
			}

			#title {
				font-family: Geologica;
				font-size: 30px;
				font-weight: 100;
			}
		}

		#navs {
			display: flex;
			flex-direction: row;

			.nav {
				background-color: black;
				border-radius: 20px;
				color: white;
				font-weight: bold;
				margin-right: 50px;
				padding: 10px;
				text-align: center;
				width: 80px;

				&:hover {
					cursor: pointer;
					opacity: 0.5;
				}
			}
		}
	}

	#body {
		#masthead {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			#masthead-header {
				border-radius: 5px;
				color: black;
				display: flex;
				flex-direction: column;
				font-family: Geologica;
				justify-content: space-around;
				margin: 0 5%;
				position: absolute;
				padding: 5px;
				width: 35%;

				.header {
					margin: 5% 0;
				}

				div {
					margin: 2% 0;
				}

				#top-header {
					font-size: 50px;
					font-weight: 100;
				}

				#info-header {
					font-size: 20px;
					line-height: 25px;
					margin: 30px 0;
				}

				#learnmore {
					background-color: black;
					border-radius: 25px;
					color: white;
					font-weight: bold;
					padding: 10px;
					text-align: center;
					width: 150px;

					&:hover {
						cursor: pointer;
						opacity: 0.5;
					}
				}
			}

			img {
				height: 100%;
				margin-left: calc(50%);
				width: 100%;
			}
		}

		#benefits {
			font-family: Geologica;
			margin: 0 auto;
			padding: 5% 0;

			#benefit-header {
				font-size: 50px;
				margin: 40px 0;
				text-align: center;
			}

			#benefit-row {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin: 20px auto;
				width: 80%;

				.benefit-item {
					padding: 0 5%;
					width: 30%;

					.image {
						background-color: black;
						border-radius: 45px;
						border-style: solid;
						border-width: 3px;
						display: flex;
						flex-direction: column;
						height: 80px;
						justify-content: space-around;
						margin: 0 auto 20px auto;
						width: 80px;

						img {
							height: 100%;
							width: 100%;
						}
					}

					.header {
						font-size: 25px;
						font-weight: 500;
						margin: 30px 0;
						text-align: center;
					}

					.header-info {
						color: black;
						font-size: 18px;
						font-weight: 500;
						height: 100px;
						line-height: 25px;
						text-align: center;

						ul {
							margin: 20px auto;
							width: 70%;

							li {
								font-weight: bold;
								list-style-type: numeric;
								text-align: left;
							}
						}
					}
				}

				.benefit-arrow {
					height: 50px;
					margin: 20px auto;
					width: 50px;
				}
			}
		}

		#infos {
			font-family: Geologica;
			height: 550px;

			#infos-header {
				font-size: 50px;
				margin: 40px 0;
				text-align: center;
			}

			#infos-options {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin: 0 auto;
				width: 400px;

				[class^="option"] {
					background-color: transparent;
					border-color: black;
					border-radius: 20px;
					border-style: solid;
					font-weight: bold;
					margin: 0 5px;
					padding: 10px;
					text-align: center;
					width: 100%;
				}

				.option-selected {
					background-color: black;
					color: white;
				}

				.option:hover {
					background-color: rgba(0, 0, 0, 0.5);
					color: black;
					cursor: pointer;
				}
			}

			.info {
				font-weight: bold;
				margin: 10px auto;
				width: 50%;

				.info-info {
					display: flex;
					flex-direction: row;
					margin: 30px auto;
					width: 550px;

					.index {
						background-color: black;
						border-radius: 40px;
						color: white;
						display: flex;
						flex-direction: column;
						font-size: 30px;
						height: 50px;
						justify-content: space-around;
						padding: 10px;
						text-align: center;
						width: 50px;
					}

					.header {
						margin-left: 20px;
						width: 500px;

						.header-title {
							color: black;
							font-size: 25px;
							font-weight: bold;
							margin-bottom: 10px;
						}

						.header-info {
							color: black;
							font-size: 20px;
							font-weight: 400;
							line-height: 25px;
							width: 80%;
						}
					}
				}
			}
		}

		#getstarted {
			background-color: black;
			border-radius: 30px;
			color: white;
			font-weight: bold;
			margin: 0 auto 30px auto;
			padding: 20px;
			text-align: center;
			width: 150px;

			&:hover {
				cursor: pointer;
				opacity: 0.5;
			}
		}
	}

	#footer {
		background-color: #202020;
		display: flex;
		flex-direction: column;
		height: 150px;
		justify-content: space-around;

		#socialmedias {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin: 0 auto;
			width: 300px;

			.socialmedia {
				height: 30px;
				width: 30px;

				img {
					height: 100%;
					width: 100%;
				}
			}
		}

		#footer-header {
			color: white;
			font-size: 20px;
			font-weight: 400;
			text-align: center;
		}
	}
}