#landing {
	height: 100vh;

	#landing-header {
		display: flex;
		flex-direction: row;
		height: 80px;
		justify-content: space-between;
		margin: 0 auto;
		width: 80%;

		.row {
			#logo {
				height: 50px;
				margin: 0 10px;
				overflow: hidden;
				width: 50px;

				img {
					height: 100%;
					width: 100%;
				}
			}

			#title {
				font-family: Helvetica;
				font-size: 30px;
				font-weight: 100;
				padding: 20px 10px;
			}
		}

		#navs {
			display: flex;
			flex-direction: row;

			.nav {
				margin-right: 50px;
				text-align: center;
				width: 80px;

				&:hover {
					font-weight: bold;
					cursor: pointer;
				}
			}
		}
	}

	#body {
		#masthead {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			#masthead-header {
				background-color: rgba(255, 255, 255, 0.9);
				border-radius: 5px;
				color: black;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin: 0 5%;
				position: absolute;
				padding: 5px;
				width: 35%;

				.header {
					margin: 5% 0;
				}

				div {
					margin: 2% 0;
				}

				#top-header {
					font-size: 50px;
					font-weight: 700;
				}

				#info-header {
					font-size: 20px;
				}

				#learnmore {
					background-color: black;
					border-radius: 10px;
					color: white;
					font-weight: bold;
					padding: 10px;
					text-align: center;
					width: 150px;

					&:hover {
						cursor: pointer;
						opacity: 0.5;
					}
				}
			}

			img {
				height: 100%;
				width: 100%;
			}
		}

		#benefits {
			margin: 0 auto;
			padding: 5% 0;

			#benefit-header {
				font-size: 50px;
				font-weight: bold;
				text-align: center;
			}

			#benefit-row {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin: 20px auto;
				width: 80%;

				.benefit-item {
					padding: 0 5%;
					width: 30%;

					.header {
						color: rgba(0, 0, 0, 0.6);
						font-size: 20px;
						font-weight: 800;
						text-align: center;
					}

					.image {
						height: 150px;
						margin: 0 auto;
						width: 150px;

						img {
							height: 100%;
							width: 100%;
						}
					}
				}
			}
		}

		#infos {
			height: 700px;

			#infos-header {
				font-size: 50px;
				font-weight: bold;
				text-align: center;
			}

			#infos-options {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin: 0 auto;
				width: 400px;

				[class^="option"] {
					background-color: transparent;
					border-radius: 20px;
					border-style: solid;
					font-weight: bold;
					margin: 0 5px;
					padding: 10px;
					text-align: center;
					width: 100%;
				}

				.option-selected {
					background-color: black;
					color: white;
				}

				.option:hover {
					background-color: rgba(0, 0, 0, 0.5);
					color: black;
					cursor: pointer;
				}
			}

			.info {
				font-weight: bold;
				margin: 10px auto;
				width: 50%;

				.info-info {
					display: flex;
					flex-direction: row;
					margin-bottom: 50px;

					.index {
						background-color: black;
						border-radius: 40px;
						color: white;
						display: flex;
						flex-direction: column;
						font-size: 30px;
						height: 50px;
						justify-content: space-around;
						padding: 10px;
						text-align: center;
						width: 50px;
					}

					.header {
						color: black;
						font-size: 20px;
						margin-left: 10px;
					}
				}
			}
		}

		#infos-header {
			font-size: 50px;
			font-weight: bold;
			padding: 20px 0;
			text-align: center;
		}
	}

	#socialmedias {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0 auto;
		width: 300px;

		.socialmedia {
			height: 30px;
			width: 30px;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}

	#footer {
		font-size: 20px;
		padding: 50px 0;
		text-align: center;
	}
}