#header {
	#navs {
		background-color: white;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		height: 50px;
		justify-content: space-between;
		margin: 0 1%;
		width: 98%;

		#username {
			margin-left: 10px;
		}

		.page-navs {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.page-nav {
				background-color: black;
				border-radius: 20px;
				color: white;
				font-weight: bold;
				margin: 0 5px;
				padding: 5px 10px;

				&:hover {
					cursor: pointer;
					opacity: 0.5;
				}
			}
		}
	}
}
