#header {
	height: 80px;

	#logo {
		height: 50px;
		overflow: hidden;
		width: 50px;

		img {
			height: 100%;
			width: 100%;
		}

		Button {
			font-weight: bold;
			margin-left: 50px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
