* {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.errormsg {
  color: darkred;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
}

#hidden-box {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100vw;
  
  #regain-account-box {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
    width: calc(500px - 10px);

    #regain-account-header {
      color: rgba(0, 0, 0, 0.8);
      font-size: 30px;
      font-weight: 100;
    }

    .regain-account-div {
      border-color: grey;
      border-style: solid;
      border-width: 0.5px;
      margin: 20px 0;
      width: 100%;
    }

    #regain-account-infos {
      color: rgba(0, 0, 0, 0.8);

      .regain-account-info-header {
        font-size: 20px;
        font-weight: 100;
      }

      .regain-account-info-header:nth-child(3) {
        font-weight: bold;
      }
    }

    #card-info {
      margin: 0 auto;
      width: 200px;

      #type {
        margin: 0 auto;
        width: 80px;

        img {
          width: 100%;
        }
      }

      #header {
        text-align: center;
      }

      #update {
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        text-align: center;
        width: 100%;

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }

    #card-info-header {
      font-size: 20px;
      font-weight: bold;
      padding: 20px 0;
      text-align: center;
    }
  }

  #banned-sign-box {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
    width: calc(500px - 10px);

    #banned-sign-header {
      font-size: 30px;
      padding: 10px;
      text-align: center;
    }
  }

  #actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    .action {
      background-color: black;
      border-radius: 20px;
      color: white;
      font-size: 15px;
      font-weight: bold;
      margin: 20px auto;
      padding: 10px;
      text-align: center;
      width: 200px;
  
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

